@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --color-base: #F7F7F7;
  --color-second: #EEEEEE;
  --color-tinted: #929AAB;
  --color-darks: #393E46;
  --color-done: #007DCC;
  --color-pass: #2FA084;
  --color-wrong: #D90000;
  --animate-loadingbar: loadingbar 1.2s ease-in-out infinite;
}

@keyframes loadingbar {
  0% { left: -35%; right: 100%; }
  50% { left: 0%; right: 0%; }
  100% { left: 100%; right: -35%; }
}